.col-md-12.vig
  .row
    = render "shared/profile" 
    .col-md-9
      .panel
        %h3
          valoraciones aplicadas:
        %table.table
          %tr
            %th
              Examen
            %td
              status
            %td
              Valor
          -@vig.tests.each do |test|
            %tr
              %td
                - value =  status(test, @vig)
                = test.title.humanize
              %td
                
              %td 
                -if value
                  =link_to "Detalles", answers_all_path(@res[0].id)
                -else
                  =link_to "Aplicar", vig_test_path(@vig,test)



