.panel
  %table.table
    %thead
      %tr
        %th
          Fecha
        %th
          Participante
        %th
          Total
        %th
          Status
        %th
    %tbody
      -@invoices.each do |invoice|
        %tr
          %td
            = invoice.created_at.to_date
          %td
            = invoice.member.name
          %td
            =invoice.total
          %td
            =invoice.status
          %td
            = link_to "detalle", invoice

