= include_gon 
.col-md-12
  .panel
    .well
      =form_for :search, url:  payment_reports_path ,method: :get ,html: {class: "form-inline"} do |f|
        %label Desde:
        = f.date_field :start_date,value: @date_start,class: "form-control"
        %label Hasta :
        = f.date_field :date_end,value: @date_end,class: "form-control"
        = f.submit  "Generar Informe", class: "btn btn-success"
    .well
      #container_report1
    .well
      #container_report2
:javascript
  $(function () {
    $('#container_report1').highcharts({
        chart: {
            type: 'line'
        },
        title: {
            text: 'Volumen díario de participantes  por horas'
        },
        xAxis: {
            categories: ['7am', '8am', '9am', '10am', '11am', '12m', '1pm', '2pm', '3pm', '4pm', '5pm', '6pm', '7pm']
        },
        yAxis: {
            title: {
                text: 'Parcipantes'
            }
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: true
                },
                enableMouseTracking: false
            }
        },
        series: [{
            name: 'Numero de Parcipantes',
            data:  gon.arr_hours
        }]
    });
    $('#container_report2').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Volumen díario de participantes por días'
        },
        xAxis: {
            categories: gon.arr_days
        },
        yAxis: {
            title: {
                text: 'Parcipantes'
            }
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: true
                },
                enableMouseTracking: false
            }
        },
        series: [{
            name: 'Numero de Parcipantes',
            data: gon.arr_users_per_days
        }]
    });
  }); 
  

  console.log( gon.arr_hours);
  console.log( gon.arr_days);
  console.log( gon.arr_users_per_days);