= include_gon 

.col-md-12
  .panel
    .well
      =form_for :search, url:  payment_reports_path ,method: :get ,html: {class: "form-inline"} do |f|
        %label Desde:
        = f.date_field :start_date,value: @date_start,class: "form-control datepicker"
        %label Hasta :
        = f.date_field :date_end,value: @date_end,class: "form-control datepicker"
        = f.submit  "Generar Informe", class: "btn btn-success"
    .well
      #container
:javascript
  $(function () {
    $('#container').highcharts({
        chart: {
            type: 'line'
        },
        title: {
            text: 'Volumen díario de participantes discriminado por horas'
        },
        xAxis: {
            categories: ['8am', '9am', '10am', '11am', '12m', '1am', '2pm', '3pm', '4pm', '5pm', '6pm', '7pm']
        },
        yAxis: {
            title: {
                text: 'Miembros'
            }
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: true
                },
                enableMouseTracking: false
            }
        },
        series: [{
            name: 'Numero de Miembros',
            data: gon.members
        }]
    });
  }); 
  $(function() {
    $( ".datepicker" ).datepicker({
      format: 'yyyy/mm/dd'
    });
  });