.segment
  %h3
    = @center.name 
  .ui.list
    .item
      %li.mail.outline.icon
      .content
        .description
          = @center.address
      %li.mail.outline.icon
        .content
          %li.mail.outline.icon
          .description
            = @center.phone

