= include_gon 
.col-md-12
  .panel
    #container
:javascript
  $(function () {
    $('#container').highcharts({
        chart: {
            type: 'line'
        },
        title: {
            text: 'Volumen díario de participantes discriminado por horas'
        },
        xAxis: {
            categories: ['8 a 9', '9 a 10', '10 a 11', '11 a 12', '12 a 1pm', '1pm a 2pm', '2pm a 3pm', '3pm a 4pm', '4pm a 5pm', '5pm a 6pm', '6pm a 7pm']
        },
        yAxis: {
            title: {
                text: 'Miembros'
            }
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: true
                },
                enableMouseTracking: false
            }
        },
        series: [{
            name: 'Numero de Miembros',
            data: gon.members
        }]
    });
  });