.container
  .col-md-12
    .panel
      = link_to "Crear Rol", new_admin_role_path  
      %table.table
        %thead
          %tr
            %th
              Nombre
            %th
              Clase
            %th
              Accion
            %th
              Descripcion
            %th
            %th
        %tbody
          -@roles.each do |f|
            %tr
              %td
                = link_to  f.name, admin_role_path(f)
              %td
                = f.resource_type
              %td
                
              %td
                
              %td
              %td
