$(document).ready(function() {
        // Create the chart

        $('#container1').highcharts({
        chart: {
        type: 'column'
        },
        title: {
        text: 'Función Cognitiva'
        },
        xAxis: {
        type: 'category'
        },
        yAxis: {
        title: {
        text: 'Participantes'
        }
        },
        legend: {
        enabled: false
        },
        plotOptions: {
        series: {
        borderWidth: 0,
        dataLabels: {
          enabled: true,
            format: '{point.y:.1f}'
        }
        }
        },

        tooltip: {
        headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
        pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}</b> of total<br/>'
        }, 

        series: [{
        name: 'Participante',
        colorByPoint: true,
        data: gon.mental }]
      

        })

           // Create the chart
        $('#container').highcharts({
        chart: {
        type: 'column'
        },
        title: {
        text: 'Dependencia de participantes'
        },
        xAxis: {
        type: 'category'
        },
        yAxis: {
        title: {
        text: 'Participantes'
        }
        },
        legend: {
        enabled: false
        },
        plotOptions: {
        series: {
        borderWidth: 0,
        dataLabels: {
          enabled: true,
            format: '{point.y:.1f}'
        }
        }
        },

        tooltip: {
        headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
        pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}</b> of total<br/>'
        }, 

        series: [{
        name: 'Participante',
        colorByPoint: true,
        data: gon.dependencia 
        }],

        })
        });
       