/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.error{
  font-size: 10px;
  color: #a94442;
  position: absolute
}

.navbar-static-top {
    background: none repeat scroll 0 0 #64509a;
    border: 1px solid transparent;
    margin-bottom: 20px;
    min-height: 50px;
    position: fixed;
    width: 100%;
}

.navbar-static-top a{
  color:  #fff;
  text-aling: center;
}

.navbar-static-top li a:hover{
  background-color: #2a3336;
}

.main-menu{
  margin-top: 50px
}
.title_bar{
  margin-top: 50px
  
}
.contenido{
  margin-top: 20px
}

.navbar-static-top .icon-bar {
    border: 1px solid;
 
}

.navbar-toggle {
    background-color: #ededed;
}

.list-menu a {
    padding-left: 40px;
}

.title_contenido{
  margin-top: 100px;
}

.separador_div{
  height: 50px;
}

.profile_box img {
    max-height: none;
    width: 100%;
}

.panel_table_index{
  min-width:400px;
}

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    position: absolute;
}
.profile_box{
     position: relative;
    text-align: center;
  }
.profile_box .field_avatar {
    cursor: pointer;
    opacity: 0;
}
.profile_box .instructions {
    border: 2px dashed #ddd;
    opacity: 0.8;
}
.profile_box div, .profile_box .field_avatar {
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}
.submit_avatar{
  left: 103px;  
  position: absolute;
  margin-top: 7px;
  display: none;
}
.profile_box{
  margin-bottom: 50px;

}

.dropdown-menu {
    z-index: 1051;
}
