-# navigation styled for Bootstrap 3.0
.list-items
  =link_to "Participantes", members_path, class: "list-group-item"
  = link_to "Nuevo Regsitro", new_customer_path, class: "list-group-item"
  = link_to "Activities", activities_path, class: "list-group-item"
  = link_to "Pagos", customers_path, class: "list-group-item" 
